.markdown-body{
  font-size: clamp(17.6px, 2.4vw, 21px);
  line-height: 1.7;
  }

.banner {
  height: 90%;
  position: relative;
  overflow: hidden;
  cursor: default;
 }

 .scroll-down-bar{
   display: flex;
  }
