.markdown-body{
  font-size: clamp(17.6px, 2.4vw, 21px);
  line-height: 1.7;
  }

  

  .index-btm {
    border-bottom: 1px solid #888;
    padding-bottom: 0.4rem;
}

.scroll-down-bar{
      display:
 }

 .banner{
  height: 70%;
  position: relative;
  overflow: hidden;
  cursor: default;
 }

 #board{
  position: relative;
  margin-top: -2rem;
  padding: 2rem 0rem;

 }