.markdown-body{
  font-size: clamp(18.4px, 2.4vw, 21px);
  line-height: 1.7;
}

  

  .index-btm{
    border-bottom: 1px solid #888;
    padding-bottom: 0.55rem;
}


 .banner{
  height: 85%;
  position: relative;
  overflow: hidden;
  cursor: default;
  }

 #board{
  padding: 2rem 0rem;
 }
 .banner-text {
 padding-top: 65px;
}

.post-content {
  opacity: 0;
  transition: opacity 1.3s ease-in-out;
}

.index-card {
  display: flex;
  flex-wrap: wrap;
}

.index-card > div {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  flex: 0 0 25%; /* Adjust the width as needed */
  /* Add additional styling properties as needed */
}

